.env
Homestead.yaml
Homestead.json
/app/config/
/app/Plugins/ServiceDesk/
/app/Plugins/Reseller/
/config/database.php
/config/lfm.php
/nbproject/private/
/node_modules
/public/uploads
/public/lb-faveo/media/
/public/photos/
/config/app.php
