/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 oct. 2016, 12:19:05
    Author     : guizani houssem
*/

.profile-user-img{
    margin:0 auto;
    width:100px;
    padding:3px;
    border:3px solid #d2d6de;
}

.profile-username{
    font-size:21px;
    margin-top:5px
}

.list-group-unbordered>.list-group-item{
    border-left:0;
    border-right:0;
    border-radius:0;
    padding-left:0;
    padding-right:0
}

.list-group {
    padding-right: 0;
    margin-bottom: 20px;
}

.timeline>li>.timeline-item{
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1);border-radius:3px;margin-top:0;background:#fff;color:#444;margin-left:15px;margin-right:60px;padding:0;position:relative
}

.timeline>li>.timeline-item>.time{
    color:#999;float:right;padding:10px;font-size:12px
}

.timeline>li>.timeline-item>.timeline-header{
    margin:0;color:#555;border-bottom:1px solid #f4f4f4;padding:10px;font-size:16px;line-height:1.1
}

.timeline>li>.timeline-item>.timeline-header>a{
    font-weight:600}

.timeline>li>.timeline-item>.timeline-body,.timeline>li>.timeline-item>.timeline-footer{
    padding:10px
}

.timeline>li>.fa,.timeline>li>.glyphicon,.timeline>li>.ion{
    width:30px;height:30px;font-size:15px;line-height:30px;position:absolute;color:#666;background:#d2d6de;border-radius:50%;text-align:center;right:8px;top:0
}

.timeline>.time-label>span{
    font-weight:600;padding:5px;display:inline-block;background-color:#fff;border-radius:4px
}

.timeline-inverse>li>.timeline-item{
    background:#f0f0f0;border:1px solid #ddd;-webkit-box-shadow:none;box-shadow:none
}

.timeline-inverse>li>.timeline-item>.timeline-header{
    border-bottom-color:#ddd
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    right: 31px;
    margin: 0;
    border-radius: 2px;
}

