<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Restrict access to DotFiles (like .htaccess, .env, .gitignore....)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Restrict access to system files
<FilesMatch "^(composer.json|composer.lock|artisan|code_of_conduct.md|gulpfile.js|package.json|error_log|phpspec.yml|example.env)">
    Order allow,deny
    Deny from all
</FilesMatch>

# Uncomment to restrict access to release text files
#<FilesMatch "^(LICENSE|README.md|readme.txt|release-notes.txt)">
#    Order allow,deny
#    Deny from all
#</FilesMatch>


#custom
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
