p {
    font-size: .8rem
;
}

/* navbar edit */

.navbar .navbar-nav>li>a{
    color: #777 ;
}
.dropdown a.dropdown-item{
    color: #777 ;
}

select option:last-of-type {
    display: inherit;
}
ul.navbar-login li,
ul.navbar-login li:hover{
    border: none;
}
.navbar {
    width: 100% !important;
    padding-bottom: 40px;
    padding-top: 0 !important;
}
.dropdown-menu {
    position: absolute !important;
    top: 90%;
    width: 200px
}
.navbar-nav li{
    border-right: 1px solid #eee;
    border-top: 3px solid transparent;
    padding: 0 5px;
}
.navbar-nav li:hover {
    border-top: 3px solid #ddd;
}
.navbar-nav .active {
    border-top: 3px solid #ddd;
}
.navbar-nav .dropdown-menu .active,
.navbar-nav .dropdown-menu li:hover {
    border-top: 3px solid transparent;
}

.dropdown-toggle::after {
    display: none;
}
.navbar .nav-item a {
    padding: 15px;

}
.navbar .nav-item:hover a{
    text-decoration: none;
}
.navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 30px 0;
    font-size: 15px;
}
.navbar .btn-custom {
    font-size: 15px;
}
.navbar .login-form {
    top: 65%;
}
#section-banner .banner-content p {
    font-size: 12px
}
.banner-content .btn{
text-shadow: none;
}
.btn-sm.btn-custom{
    font-size: 10px;
    border-radius: 2px;
}

.nav-categories li,
.nav-categories li a{
    width: 100%;
    border-radius: 0 !important;
}
/*--------------------------------------*/
.breadcrumb-custom li::after {
    display: inherit;
}
.breadcrumb-custom li i {
    font-size: 10px;
    padding:  0 5px;
}
.blockquote {
    padding: 10px 15px;
    border-left: 4px solid #ddd;
}
.blockquote p {
    margin: 0;
}
/* --------------------------------- */
.alert-custom {
    padding: 0 20px;
}
.alert-custom .warning {
    font-size: 40px;
    padding-right: 15px
}
.alert-custom .media-body {
    padding: 11px 0 0;
}
.text-danger {
    color: #a94442 !important;
}
.site-search .search-form .btn-custom {

}
.site-search .search-form .input-lg {
    width: 55% !important;
    border-radius: 5px !important;
}
.accordion .accordion-toggle {
    color: #4d3333 !important;
    font-size: 1.1rem;
}
.site-footer {
    padding-bottom: 0;
}
.bord  {
    border-top: 1px solid #ddd;
    padding: 20px 0 0;
}
.share-links {
    margin-top: .5rem
}
.rate-post {
    margin-top: .5rem;
}
.breadcrumb-custom {
    margin: 0;
    padding: 1rem 0;
}
.tagcloud a{
    font-size: 12px !important;
}
.pagination .page-item a:focus,
.pagination .page-item:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .site-navigation .dropdown-menu {
        margin-left: -6px !important;
    }

}