span.stars, span.stars span {
    display: block;
    background: url('../../lb-faveo/media/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

span.stars2, span.stars2 span {
    display: block;
    background: url('../../lb-faveo/media/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars2 span {
    background-position: 0 0;
}
        